@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-font: system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  --inmetro: #002E5F;
  --secondary-light: #87A2B5,
  --secondary: #56B3FA;
  --secondary-dark: #0C2858;
  --divider: #808080;

  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
